html(lang='en')
  include ./partials/head.part.jade
  body(style = 'padding-top: 0; background-color: rgb(225,225,225);overflow-x: hidden')
    .container-fluid
      .row
        .col-md-12.no-padding
          include ./partials/bars/navbar.part.jade     
      .row(style='padding-left:20px; padding-right:20px; margin-top:20px')
        .col-md-6.col-md-offset-3
          .col-md-12(style='text-align: center; color: white; background-color: rgb(107, 144, 240); border: 1px solid white; height: 2.5em')
            b
              | Billing Details
          .col-md-12(style='text-align: center; background-color: rgb(152, 182, 236); height: 2.5em;border-bottom: 1px solid white;')
              .col-md-3(style= 'border-right: 1px solid white;height: 2.5em')
                | Total Amount 
              .col-md-9
                input#amount.form-control(type='text', name='amount', value = '#{amount}', style = 'border: transparent; background: transparent;',required = 'true')
          form(action = '/updateUser', method = 'post')
            input#csrf-token-bifr(type='text', name='_csrf', value='#{csrfToken}')
            .col-md-12(style='text-align: center; background-color: rgb(152, 182, 236); height: 2.5em;border-bottom: 1px solid white;')
              .col-md-3(style= 'border-right: 1px solid white;height: 2.5em')
                | Name
              .col-md-9
                input#name.form-control(type='text', name='name', value = '#{name}', style = 'border: transparent; background: transparent;',required = 'true')
            .col-md-12(style='text-align: center;  background-color: rgb(152, 182, 236); height: 2.5em; border-bottom: 1px solid white')
              .col-md-3(style= 'border-right: 1px solid white;height: 2.5em')
                | Email
              .col-md-9
                input#email.form-control(type='text', name='email', value = '#{email}', style = 'border: transparent; background: transparent;',required = 'true')
            
            .col-md-12(style='text-align: center;  background-color: rgb(152, 182, 236); height: 2.5em; border-bottom: 1px solid white;')
              .col-md-3(style= 'border-right: 1px solid white;height: 2.5em')
                | Address
              .col-md-9
                input#address.form-control(type='text', name='address', value = '#{address}',style = 'border: transparent; background: transparent;', required = 'true')
            
            .col-md-12(style='text-align: center;  background-color: rgb(152, 182, 236); height: 2.5em;border-bottom: 1px solid white;')
              .col-md-3(style= 'border-right: 1px solid white;height: 2.5em')
                | State
              .col-md-9(style = 'color: white')
                if(state != '')
                  input#state.form-control(type='text', name='state', value = '#{state}',style = 'border: transparent; background: transparent;', required = 'true')
                else
                  select.form-control#state_list( size='1', name='state', style = 'border: transparent; background: transparent;',  required = true)
                    option(value='') --Select State--
                    option(value='Andaman Nicobar') Andaman Nicobar
                    option(value='Andhra Pradesh') Andhra Pradesh
                    option(value='Bihar') Bihar
                    option(value='Chhattisgarh') Chhattisgarh
                    option(value='Delhi') Delhi
                    option(value='Goa') Goa
                    option(value='Gujarat') Gujarat
                    option(value='Haryana') Haryana
                    option(value='Himachal Pradesh') Himachal Pradesh
                    option(value='Jammu and Kashmir') Jammu and Kashmir
                    option(value='Jharkhand') Jharkhand
                    option(value='Kerala') Kerala
                    option(value='Karnatka') Karnatka
                    option(value='Madhya Pradesh') Madhya Pradesh
                    option(value='Maharashtra') Maharashtra
                    option(value='Meghalaya') Meghalaya
                    option(value='Pondicherry') Pondicherry
                    option(value='Punjab') Punjab
                    option(value='Rajasthan') Rajasthan
                    option(value='Tamil Nadu') Tamil Nadu
                    option(value='Uttar Pradesh') Uttar Pradesh
                    option(value='Uttaranchal') Uttaranchal
                    option(value='Udisa') Udisa
                    option(value='West Bengal') West Bengal

            .col-md-12(style='text-align: center;  background-color: rgb(152, 182, 236); height: 2.5em;border-bottom: 1px solid white;')
              .col-md-3(style= 'border-right: 1px solid white;height: 2.5em')
                | PIN Code
              .col-md-9
                input#pin.form-control(type='text', name='pin', value = '#{pin}', style = 'border: transparent; background: transparent;',required = 'true')
            
            .col-md-4.col-md-offset-3              
              br  
                       
              input.btn.btn-warning(type = 'submit', value = 'Update Details')

          .row(style=' padding: 3px 7px')
            if(name != '' && amount != '' && address != '' && state != '' && pin != '' && email != '')
              form(action='https://secure.payu.in/_payment', method='post')
                input#csrf-token-bifr(type='hidden', name='_csrf', value='#{csrfToken}')
                input(type='hidden', name='firstname', value='#{name}')
                input(type='hidden', name='surl', value='http://localhost:9010/payment/status')
                input(type='hidden', name='furl', value='http://localhost:9010/payment/status')
                input(type='hidden', name='phone', value='#{mobile}')
                input(type='hidden', name='key', value='zzLz4z')
                input(type='hidden', name='hash', value='#{salt}')            
                input(type='hidden', name='txnid', value='#{txnid}')
                input(type='hidden', name='productinfo', value='#{plan}')
                input(type='hidden', name='amount', value='#{amount}')
                input(type='hidden', name='email', value='#{email}')
                input(type='hidden', name='udf1', value='#{udf1}')
                input(type='hidden', name='udf2', value='#{udf2}')
                input#payment.btn-warning.btn.btn-large(type='submit', style = 'border: 0px; background-repeat: no-repeat; cursor: pointer; margin-left: 0px; margin-top: 20px' value = value = 'Click Here to Pay')
            else 
              input#payment.btn-warning.btn.btn-large(type='submit', disabled, style = 'border: 0px; background-repeat: no-repeat; cursor: pointer; margin-left: 0px; margin-top: 20px' value = value = 'Click Here to Pay')
            
          
          


    
   