html(lang='en')
  include ./partials/head.part.jade
  body(style = 'padding-top: 0; background-color: rgb(225,225,225);overflow-x: hidden')
    .container-fluid
      .row
        .col-md-12.no-padding
          include ./partials/bars/navbar.part.jade     
      .row(style='padding-left:20px; padding-right:20px; margin-top:20px')
        .col-md-4(style='padding-right:30px; padding-left:30px')
          .row(style='background-color:white; padding: 3px 7px')
            if(paymentToken == 1)  
              | Transaction Status: #{status}
              br
              | Total Amount Paid: '#{amountPaid}'
          
          form(action='https://secure.payu.in/_payment', method='post')
            input#csrf-token-bifr(type='hidden', name='_csrf', value='#{csrfToken}')
            input(type='hidden', name='firstname', value='#{name}')
            input(type='hidden', name='surl', value='http://localhost:9010/payment/status')
            input(type='hidden', name='furl', value='http://localhost:9010/payment/status')
            input(type='hidden', name='phone', value='#{mobile}')
            input(type='hidden', name='key', value='zzLz4z')
            input(type='hidden', name='hash', value='#{salt}')            
            input(type='hidden', name='txnid', value='#{txnid}')
            input(type='hidden', name='productinfo', value='#{plan}')
            input(type='hidden', name='amount', value='#{amount}')
            input(type='hidden', name='email', value='#{email}')
            input#payment(type='submit', style = 'border: 0px; height: 180px; width: 345px;background-repeat: no-repeat; cursor: pointer; background-image: url("/public/images/pyu.jpg")')
  

    
   